.view, html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

*:focus {
  outline: none;
}

@import "parts/variables";
@import "parts/mixins";
@import "parts/header";
@import "parts/content";
@import "parts/sidebar";
@import "parts/layout-table";
@import "parts/layout-tile";
@import "parts/animations";