<div class="fm-header clearfix">

    <div class="cell">
        <button type="button" class="btn btn-default btn-sm" ng-click="goHistoryBackward()" ng-disabled="disabledBackward">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="goToHomeDirectory(foldersTree)">
            <i class="glyphicon glyphicon-home"></i>
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="goHistoryForward()" ng-disabled="disabledForward">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </button>
    </div>

    <div class="cell">
        <div class="input-group">
            <ul class="fm-breadcrumb form-control input-sm">
                <li ng-repeat="item in breadcrumbArr track by $index">
                    <span class="folder" ng-click="breadcrumbWalker($index, $last)">{{item}}</span>
                </li>
            </ul>
            <span class="input-group-btn">
				<button type="button" class="btn btn-default btn-sm">
					<!--<i class="glyphicon glyphicon-arrow-right"></i>-->
					<i class="glyphicon glyphicon-refresh"></i>
				</button>
			</span>
        </div>
    </div>

    <div class="cell">
        <div class="input-group">
            <input class="form-control input-sm" type="text" ng-model="searchInput" placeholder="Search ...">
            <span class="input-group-btn">
				<button type="button" class="btn btn-default btn-sm">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</span>
        </div>
    </div>

    <div class="cell">
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" ng-click="openUploadModal('lg')" data-toggle="modal" data-target=".bs-example-modal-lg">
                <i class="fa fa-upload"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="openNewFileModal()">
                + <i class="fa fa-file-o"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="addNewFolder(currentDir)">
                + <i class="fa fa-folder-o"></i>
            </button>
            <div class="btn-group btn-group-sm">
                <label class="btn btn-default" ng-model="fmSettings.layoutView" ng-click="layoutSwitcher()" uib-btn-radio="'table'">
                    <i class="glyphicon glyphicon-th-list"></i>
                </label>
                <label class="btn btn-default" ng-model="fmSettings.layoutView" ng-click="layoutSwitcher()" uib-btn-radio="'tile'">
                    <i class="glyphicon glyphicon-th-large"></i>
                </label>
            </div>
            <button type="button" class="btn btn-default btn-sm" ng-click="openSettingsMmodal()">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
        </div>
    </div>

</div>

<fm-container></fm-container>

<fm-upload-form></fm-upload-form>