<div class="fm-container">
    <div class="fm-sidebar" ng-show="fmSettings.sidebar">
        <div class="fm-resizer" ng-mousedown="dragResizer(event)"></div>
        <div class="storage-sub-header">
            <i class="hdd fa fa-hdd-o"></i> Storage
        </div>
        <ul class="menu-folders-tree">
            <li ng-repeat="item in foldersTree.content | orderBy:'name'" ng-include="def.menuFoldersTree"></li>
        </ul>
    </div>
    <div class="fm-content" ng-switch="fmSettings.layoutView">

        <fm-context-menu></fm-context-menu>

        <div class="fm-tile-layout" ng-switch-when="tile">

            <div class="tile-sub-header">
                <div class="td" ng-click="contextMenuBtn()">
                    <i class="fa fa-bars"></i>
                </div>

                <div class="td">
                    <span>Sort by:</span>

                    <div class="btn-group" uib-dropdown>
                        <button type="button" class="btn btn-default btn-sm" ng-click="sortOrder(def.selectedOption.option)">
                            <i class="fa {{def.reverse ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'}}"></i>
                        </button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" uib-dropdown-toggle>
                            {{def.selectedOption.name}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li ng-repeat="opt in def.sortOptions" ng-click="setSortOption(opt)">
                                <a name="{{opt.name}}">{{opt.name}} 
                                    <i ng-if="opt.option == def.selectedOption.option" class="fa fa-check"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <fm-tile-layout></fm-tile-layout>
        </div>

        <div class="fm-table-layout" ng-switch-when="table">
            <fm-table-layout></fm-table-layout>
        </div>

    </div>
</div>