<div class="fm-tile-contant clearfix">

    <div class="tile folder new-folder" ng-if="newFolderData.length" ng-repeat="item in newFolderData" ng-style="{width: boxWidth + '%'}">
        <div class="tile-box">
            <div class="td"> <i class="fm-icon-folder"></i> </div>
            <div class="td">
                <input class="form-control input-sm" type="text" ng-model="item.name">
                <button type="button" class="btn btn-xs btn-success create" ng-click="createNewFolder($index)">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button type="button" class="btn btn-xs btn-danger remove" ng-click="removeNewFolder($index)">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>
        </div>
    </div>

    <div ng-repeat="item in currentDir.content | orderBy:criteria:reverse" class="tile {{item.folder ? 'folder' : 'file'}}" on-finish-render-items="runSetBoxWidth">
        <div ng-dblclick="goToDirectory(item); $event.stopPropagation();" ng-click="selectThis(item)" ng-class="{'selected': item.selected}" class="tile-box" ng-switch="item.rename">

            <div class="icon-box">
                <i class="fm-icon-{{item.folder ? 'folder' : 'file'}}" filetype="{{item.ext}}"></i>
            </div>

            <p ng-switch-default class="name" title="{{item.name}}">{{ renderFileName(item.name, item.ext) }}</p>

            <div ng-switch-when="true" class="input-group input-group-sm">
                <input class="form-control" type="text" ng-model="item.name">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success" ng-click="renameDone(item); item.rename = false">
                        <i class="glyphicon glyphicon-ok"></i>
                    </button>
                </span>
            </div>

            <span ng-if="item.size !== null" class="size"> {{getDocSize(item.size)}} Kb </span>
            <button ng-if="item.size == null" type="button" ng-click="getFolderSize(item); $event.stopPropagation();" class="btn btn-success btn-xs get-btn-size">
                Get size
            </button>
        </div>
    </div>

</div>