<div class="fm-table-contant fm-table">

    <div class="thead">
        <div class="tr">
            <div class="td icon" ng-click="contextMenuBtn()">
                <i class="fa fa-bars"></i>
            </div>
            <div class="td name" ng-click="sortOrder('name')" ng-switch="criteria">
                Name
                <i ng-switch-when="name" class="sort-icon fa {{reverse ? 'fa-sort-up' : 'fa-sort-down'}}"></i>
                <i ng-switch-default class="sort-icon fa fa-sort"></i>
            </div>
            <div class="td type" ng-if="fmSettings.showTypeCol" ng-click="sortOrder('ext')" ng-switch="criteria">
                Type
                <i ng-switch-when="ext" class="sort-icon fa {{reverse ? 'fa-sort-up' : 'fa-sort-down'}}"></i>
                <i ng-switch-default class="sort-icon fa fa-sort"></i>
            </div>
            <div class="td size" ng-if="fmSettings.showSizeCol" ng-click="sortOrder('size')" ng-switch="criteria">
                Size
                <i ng-switch-when="size" class="sort-icon fa {{reverse ? 'fa-sort-down' : 'fa-sort-up'}}"></i>
                <i ng-switch-default class="sort-icon fa fa-sort"></i>
            </div>
            <div class="td date" ng-if="fmSettings.showDateCol" ng-click="sortOrder('date')" ng-switch="criteria">
                Date
                <i ng-switch-when="date" class="sort-icon fa {{reverse ? 'fa-sort-down' : 'fa-sort-up'}}"></i>
                <i ng-switch-default class="sort-icon fa fa-sort"></i>
            </div>
        </div>
    </div>

    <div class="tbody">
        <div class="tr new-folder" ng-if="newFolderData.length" ng-repeat="item in newFolderData">
            <div class="td icon">
                <i class="glyphicon glyphicon-remove remove" ng-click="removeNewFolder($index)"></i>
            </div>

            <div class="td name">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <i class="fa fa-folder icon-folder"></i>
                    </span>
                    <input class="form-control" type="text" ng-model="item.name">
                    <span class="input-group-btn">
						<button type="button" class="btn btn-success" ng-click="createNewFolder($index)">
							<i class="glyphicon glyphicon-ok"></i>
						</button>
					</span>
                </div>
            </div>

            <div class="td type" ng-if="fmSettings.showTypeCol">
                <span class="label label-info folder">-- folder</span>
            </div>

            <div class="td size" ng-if="fmSettings.showSizeCol">
                <span> {{getDocSize(item.size)}} Kb </span>
            </div>

            <div class="td date" ng-if="fmSettings.showDateCol"> {{item.date}} </div>
        </div>

        <div class="tr" ng-repeat="item in currentDir.content | orderBy:criteria:reverse" ng-dblclick="goToDirectory(item)" ng-class="{'selected': item.selected}">
            <div class="td icon">
                <i class="fa {{item.selected ? 'fa-check-square-o check' : 'fa-square-o uncheck'}}" ng-click="selectThis(item)"></i>
            </div>

            <div class="td name" ng-switch="item.rename">
                <div ng-switch-when="true" class="input-group input-group-sm">
                    <span class="input-group-addon">
                      <i class="fa fa-{{item.folder ? 'folder icon-folder' : 'file-text icon-file'}}"></i>
                    </span>
                    <input class="form-control" type="text" ng-model="item.name">
                    <span class="input-group-btn">
						<button type="button" class="btn btn-success" ng-click="renameDone(item); item.rename = false">
							<i class="glyphicon glyphicon-ok"></i>
						</button>
					</span>
                </div>

                <span ng-switch-default title="{{item.name}}">
                    <i class="fa fa-{{item.folder ? 'folder icon-folder' : 'file-text icon-file'}}"></i>
                     {{item.name}}
                </span>
            </div>

            <div class="td type" ng-if="fmSettings.showTypeCol" ng-switch="item.folder">
                <span ng-switch-when="false" class="file"> .{{item.ext}} </span>
                <span ng-switch-when="true" class="label label-info folder">-- folder</span>
            </div>

            <div class="td size" ng-if="fmSettings.showSizeCol" ng-switch="item.size">
                <span ng-switch-default> {{getDocSize(item.size)}} Kb </span>
                <button ng-switch-when="null" type="button" ng-click="getFolderSize(item)" class="btn btn-success btn-xs"> Get size </button>
            </div>

            <div class="td date" ng-if="fmSettings.showDateCol"> {{item.date}} </div>
        </div>
    </div>

</div>