<div ng-if="item.isDir" class="folder">
   <i ng-click="toggleLevelBelow(item)" class="angle fa {{item.open ? 'fa-angle-down' : 'fa-angle-right'}}"></i>
   <i ng-click="toggleLevelBelow(item)" class="icon glyphicon glyphicon-folder-{{item.open ? 'open' : 'close'}}"></i>
   <span class="name" ng-click="objClickEventAction(item)" title="{{item.name}}"> {{item.name}} </span>
</div>

<ul ng-if="item.content.length > 0 && item.open" ng-class="{'subMenuContainer': item.content.length > 0}">
    <li ng-repeat="item in item.content | orderBy:'name'" ng-class="{'subMenuItem': item.content.length > 0}" 
        ng-include="def.menuFoldersTree">
    </li>
</ul>