<div class="modal-header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
    <h4 class="modal-title">File uploader</h4>
</div>
<div class="modal-body fm-file-uploader" upload-box>

    <h1 ng-if="upload.length == 0" class="title-pointer"> <i class="fa fa-file"></i> Drop files here </h1>

    <div class="fm-table">
        <div class="tbody">
            <div ng-repeat="item in upload | orderBy:'status'" class="tr">
                <div class="td">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="td"> {{item.newName}} </div>
                <div class="td"> .{{item.extType}} </div>
                <div class="td">
                    <div class="uploading">
                        <div class="rate" ng-style="{'width': item.percentages +'%'}"> {{item.percentages}}%</div>
                    </div>
                 </div>
                <div class="td">
                    <button type="button" ng-click="removeUploadingFile($index)" class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                 </div>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">

    <label class="btn btn-primary file-selector-btn" for="upload-file-input">
        <input id="upload-file-input" type="file">
        <i class="fa_icon icon-upload-alt margin-correction"></i>Choose files
    </label>

    <button type="button" ng-click="clearList()" class="btn btn-default">Clear</button>
</div>