<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">File uploader</h4>
</div>
<div class="modal-body fm-file-uploader" upload-box>

    <h1 ng-if="upload.length == 0" class="title-pointer"> <i class="fa fa-file"></i> Drop files here </h1>

    <div ng-repeat="item in upload | orderBy:'status'" class="tr upload-row">
        <div class="td icon"> {{item.extType}} </div>
        <div class="td name"> {{item.newName}} </div>
        <div class="td type"> {{item.extType}} </div>
        <div class="td uploading"> {{item.extType}} </div>
        <div class="td buttons"> {{item.extType}} </div>
    </div>

</div>
<div class="modal-footer">

    <label class="btn btn-primary file-selector-btn" for="upload-file-input">
        <input id="upload-file-input" type="file">
        <i class="fa_icon icon-upload-alt margin-correction"></i>Choose files
    </label>

    <button type="button" class="btn btn-default">Clear</button>
</div>