<div class="modal-header">
    <button type="button" class="close" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">File uploader</h4>
</div>
<div class="modal-body fm-file-uploader" upload-box>

<h1>
    <i class="fa fa-file"></i> Drop files here
</h1>

</div>
<div class="modal-footer">

    <span class="file-selector-btn">
        <label class="btn btn-primary" for="upload-file-input">
            <input id="upload-file-input" type="file">
            <i class="fa_icon icon-upload-alt margin-correction"></i>Choose files
        </label>
    </span>

    <button type="button" class="btn btn-default">Clear</button>
</div>