<table class="fm-table-contant table">
    <thead>
        <tr>
            <th>
                <i class="fa fa-bars context-menu-btn" ng-click="contextMenuBtn()"></i>
            </th>
            <th>
                <button type="button" class="btn-sort" ng-click="sortOrder('name')" ng-switch="criteria"> Name
                    <i ng-switch-when="name" class="sort-icon fa {{reverse ? 'fa-sort-up' : 'fa-sort-down'}}"></i>
                    <i ng-switch-default class="sort-icon fa fa-sort"></i>
                </button>
            </th>
            <th>
                <button type="button" class="btn-sort" ng-click="sortOrder('ext')" ng-switch="criteria"> Type
                    <i ng-switch-when="ext" class="sort-icon fa {{reverse ? 'fa-sort-up' : 'fa-sort-down'}}"></i>
                    <i ng-switch-default class="sort-icon fa fa-sort"></i>
                </button>
            </th>
            <th>
                <button type="button" class="btn-sort" ng-click="sortOrder('size')" ng-switch="criteria"> Size
                    <i ng-switch-when="size" class="sort-icon fa {{reverse ? 'fa-sort-down' : 'fa-sort-up'}}"></i>
                    <i ng-switch-default class="sort-icon fa fa-sort"></i>
                </button>
            </th>
            <th>
                <button type="button" class="btn-sort" ng-click="sortOrder('date')" ng-switch="criteria"> Date
                    <i ng-switch-when="date" class="sort-icon fa {{reverse ? 'fa-sort-down' : 'fa-sort-up'}}"></i>
                    <i ng-switch-default class="sort-icon fa fa-sort"></i>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in tableData | orderBy:criteria:reverse" ng-class="{'selected': item.selected}">
            <td>
                <i class="fa {{item.selected ? 'fa-check-square-o check' : 'fa-square-o uncheck'}}" ng-click="selectThis(item)"></i>
            </td>

            <td>
                <span title="{{item.name}}">
                    <i class="fa {{item.folder ? 'fa-folder-o icon-folder' : 'fa-file-o icon-file'}}"></i> {{item.name}}
                </span>
            </td>

            <td ng-switch="item.folder">
                <span ng-switch-when="false" class="file"> .{{item.ext}} </span>
                <span ng-switch-when="true" class="label label-info folder">-- folder</span>
            </td>

            <td ng-switch="item.size">
                <span ng-switch-default class="size"> {{getDocSize(item.size)}} Kb </span>
                <button ng-switch-when="null" type="button" ng-click="getFolderSize(item)" class="btn btn-success btn-xs"> Get size </button>
            </td>

            <td> {{item.date}} </td>
        </tr>
    </tbody>
</table>