.view {
  &.ng-enter,
  &.ng-leave {
    transition: 0.4s linear all;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }
}

.fm-tile-layout,
.fm-table-layout {
  &.ng-enter,
  &.ng-leave {
    transition: 300ms linear all;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }
}

.write-path-input,
.fm-breadcrumb {
  &.ng-enter,
  &.ng-leave {
    transition: none;
  }
}

.context-menu {
  &.ng-enter,
  &.ng-leave {
    transition: 80ms linear all;
    position: relative;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    left: 0;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
    left: -200px;
  }
}