.view {
  &.ng-enter,
  &.ng-leave {
    transition: 400ms linear all;
  }

  .ng-leave.ng-leave-active,
  .ng-enter {
    opacity: 0;
  }

  .ng-enter.ng-enter-active, 
  .ng-leave {
    opacity: 1;
  }
}