.fm-file-uploader {
  padding: 0;

  .title-pointer {
    cursor: default;
    text-align: center;
    color: #c9c9c9;
    padding: 20px;
    margin: 15px;
    border: 2px dashed;
  }

  .uploading {
    width: 100%;
    background-color: #DDE6FF;
    height: 14px;

    .rate {
      text-align: center;
      font-size: 10px;
      text-indent: 2px;
      color: #fff;
      width: 45%;
      height: 14px;
      background-color: $sub-header-bg;
    }
  }

  &.active {
     .title-pointer {
       color: lighten($link-hover, 20%);
     }
  }

  .tr {
    > .td {
      cursor: default;

      &:first-child {
        width: 30px;
        font-size: 13px;
        text-align: center;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(4) {
        width: 30%;
      }

      &:last-child {
        width: 50px;
        text-align: center;
      }
    }
  }



}

.file-selector-btn {
  input {
    display: none;
  }
}