.fm-file-uploader {

  .title-pointer {
    cursor: default;
    text-align: center;
    color: #c9c9c9;
    padding: 20px;
    margin: 0;
    border: 2px dashed;
  }

  &.active {
     .title-pointer {
       color: lighten($link-hover, 20%);
     }
  }
  
  
  .tr {
   border-bottom: $fm-table-border-bottom-td;
   height: 31px;
   display: table;
   width: 100%;
   table-layout: fixed;

    &:nth-child(odd) {
      background-color: $fm-table-tr-odd-bg;
    }

    &:nth-child(even) {
      background-color: $fm-table-tr-even-bg;
    }

    &:hover {
      background-color: $fm-table-tr-hover;
    }

    > .td {
      display: table-cell;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: default;
      padding: 5px;

      &:nth-child(1) {
        width: 20px;
      }
      &:nth-child(2) {
        width: 30%;
      }
      &:nth-child(3) {
        width: 30%;
      }
      &:nth-child(4) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 100px;
      }
    }
  }

}

.file-selector-btn {
  input {
    display: none;
  }
}