.fm-header {
  padding: 5px 0;
  width: 100%;
  background-color: $header-bg;
  border-bottom: $header-border-bottom;

  .fm-breadcrumb {
    > li {
      list-style-type: none;
      font-size: 13px;
      margin: -5px 0;
      float: left;
      padding: 5px 5px 5px 0;

      &:not(:last-child):after {
        content: " / ";
        font-size: 17px;
        line-height: 0;
        cursor: default;
      }

      &:last-child {
        padding-right: 0;

        .folder {
          cursor: default;
          color: $breadcrumb-last-element-color;
        }
      }

      &:not(:last-child) {
        .folder {
          cursor: pointer;
          padding: 5px 0;
          color: $link-hover;

          &:hover {
            color: $link-default;
          }
        }
      }
    }
  }
}