.fm-table-layout {
  height: 100%;
  overflow-x: hidden;
}

.fm-table-contant {
  height: calc(100% - #{$top-header-height});

  .thead,
  .tbody {
    > .tr {
      > .td {

        &.icon {
          width: 40px;
          text-align: center;
        }

        &.name {
          width: 50%;
        }

        &.type {
          width: 15%;
        }

        &.size {
          width: 10%;
        }

        &.date {
          width: 25%;
        }

      }
    }
  }

  .thead {
    height: $sub-header-height;

    > .tr {
      > .td {
        color: $sub-header-text;
        height: $sub-header-height - 2px;
        line-height: 14px;
        cursor: pointer;

        .sort-icon {
          position: absolute;
          right: 5px;
          opacity: 0.3;
        }

        &:hover {
          background-color: $btn-sort-hover;

          > .sort-icon {
            opacity: 1;
          }
        }

      }
    }
  }

  .tbody {
    > .tr {
      height: 41px;

      &.selected {
        &:nth-child(odd),
        &:nth-child(even) {
          background-color: darken($fm-table-tr-hover, 1%);
        }
      }

      > .td {
        .icon-file,
        .icon-folder {
          font-size: 14px;
        }

        .icon-folder {
          color: darken($sidebar-icon-folder-color, 7%);
        }

        .icon-file {
          color: darken($sidebar-icon-file-color, 7%);
        }

        &:first-child {
          text-align: center;
          cursor: pointer;

          .check,
          .remove,
          .uncheck {
            font-size: 19px;
            margin-top: 3px;
          }

          .remove {
            color: #FF2A2A;
          }

          .check {
            color: darken($sidebar-icon-file-color, 7%);
          }

          .uncheck {
            color: lighten($sidebar-icon-file-color, 2%);
          }
        }
      }
    }
  }

} // end .fm-table-contant