.fm-table-layout {
  height: 100%;
  overflow-x: hidden;
}

.fm-table-contant {
  height: calc(100% - #{$top-header-height});

  .tr {
   display: table;
   width: 100%;
   table-layout: fixed;

      > .td {
       display: table-cell;
       vertical-align: middle;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       cursor: default;
       padding: 5px;

      &:first-child {
        width: 40px;
        text-align: center;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 15%;
      }
    }
  }

  .thead {
    background-color: $sub-header-bg;
    color: $sub-header-text;
    border-bottom: $sub-header-border-bottom;
    height: $sub-header-height;

    > .tr {
      > .td {
        color: $sub-header-text;
        height: $sub-header-height - 2px;
        white-space: nowrap;
        line-height: 14px;
        position: relative;
        font-weight: normal;
        cursor: pointer;

        .sort-icon {
          position: absolute;
          right: 5px;
          opacity: 0.3;
        }

        &:hover {
          background-color: $btn-sort-hover;

          > .sort-icon {
            opacity: 1;
          }
        }

        &:first-child {
          text-align: center;
        }
      }
    }
  }

  .tbody {
    color: $fm-table-text-color;
    height: 100%;
    overflow-y: auto;

    > .tr {
      border-bottom: $fm-table-border-bottom-td;
      height: 41px;

      &.selected {
        &:nth-child(odd),
        &:nth-child(even) {
          background-color: darken($fm-table-tr-hover, 1%);
        }
      }

      &:nth-child(odd) {
        background-color: $fm-table-tr-odd-bg;
      }

      &:nth-child(even) {
        background-color: $fm-table-tr-even-bg;
      }

      &:hover {
        background-color: $fm-table-tr-hover;
      }

      > .td {
        .icon-file,
        .icon-folder {
          font-size: 14px;
        }

        .icon-folder {
          color: darken($sidebar-icon-folder-color, 7%);
        }

        .icon-file {
          color: darken($sidebar-icon-file-color, 7%);
        }

        &:first-child {
          text-align: center;

          .check,
          .uncheck {
            font-size: 19px;
            cursor: pointer;
            margin-top: 3px;
          }

          .check {
            color: darken($sidebar-icon-folder-color, 5%);
          }

          .uncheck {
            color: darken($sidebar-icon-file-color, 5%);
          }
        }
      }
    }
  }

} // end .fm-table-contant