.fm-table-layout {
  height: 100%;
  overflow-x: hidden;
}

.fm-table-contant {
  height: calc(100% - #{$all-headers-height});
  margin-bottom: 0;

  td,
  th {
    cursor: default;
    vertical-align: middle;

    > .btn {
      margin: -3px 0;
    }
  }

  > tbody {
    height: 100%;
    overflow: auto;
    color: $fm-table-text-color;

    > tr {
      transition: 0.15s linear background-color;

      &.selected {
        &:nth-of-type(odd),
        &:nth-of-type(even) {
           background-color: $fm-table-tr-hover;
        }
      }

      > td {
        border-bottom: $fm-table-border-bottom-td;
        border-top: 0;

        .icon-folder {
          color: darken($sidebar-icon-folder-color, 10%);
        }

        .icon-file {
          color: darken($sidebar-icon-file-color, 10%);
        }
      }

      > td:first-child {
        text-align: center;

        .check {
          color: #587658;
        }

        .uncheck {
          color: #a8a8a8;
        }
      }

      &:nth-of-type(odd) {
        background-color: $fm-table-tr-odd-bg;
      }

      &:nth-of-type(even) {
        background-color: $fm-table-tr-even-bg;
      }

      &:hover {
        background-color: $fm-table-tr-hover;
      }
    }
  }

  > thead {
    > tr {
      > th {
        background-color: $header-infobar-bg;
        color: $header-infobar-text;
        font-weight: normal;

        &:first-child {
          text-align: center;
        }
      }
    }
  }

  > tbody,
  > thead {
    float: left;
    width: 100%;

    > tr {
      width: 100%;
      display: table;
    }
  }

// sizes --------------

  > tbody > tr > td,
  > thead > tr > th {

    &:first-child {
        width: 5%;
    }
    &:nth-child(2) {
        width: 50%;
    }
    &:nth-child(3) {
        width: 15%;
    }
    &:nth-child(4) {
        width: 15%;
    }
    &:nth-child(5) {
        width: 15%;
    }
  }

// -----------------

  .btn-sort {
    background-color: transparent;
    width: 100%;
    text-align: left;
    border: none;
    margin: -8px -4px;
    padding: 8px 4px;
    box-sizing: content-box;

    > .sort-icon {
      float: right;
      margin-top: 3px;
      opacity: 0.3;
    }

    &:hover {
      background-color: $btn-sort-hover;

      > .sort-icon {
        opacity: 1;
      }
    }
  }

} // end .fm-table-contant