@mixin scroll-box-height() {
  height: calc(100% - #{$sub-headers-height});
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin bar-styles() {
  padding: 8px 15px;
  height: $sub-headers-height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  color: $header-infobar-text;
  background-color: $header-infobar-bg;
  border-bottom: $header-infobar-border-bottom;
}