.fm-sidebar {
  position: relative;
  background-color: $sidebar-bg;
  box-shadow: $sidebar-box-shadow;
  z-index: 2;

  .storage-sub-header {
    padding: 8px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include bar-styles();

    .hdd {
      font-size: 17px;
    }
  }

  .fm-resizer {
    position: absolute;
    right: -3px;
    height: 100%;
    width: 8px;
    z-index: 1;

    &:after {
      content: "";
      height: 100%;
      width: 2px;
      background-color: $header-border-bottom;
      margin-left: 4px;
      display: block;
    }

    &:hover:after {
      background-color: $link-hover;
    }

    &:hover {
      cursor: col-resize;
    }
  }
}

.menu-folders-tree {
  @include scroll-box-height();
  padding-left: 15px;
  margin: 0;

  li {
    list-style: none;

    ul {
      padding-left: 15px;
    }

    > .file {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1px 3px;
      cursor: pointer;

      > .name {
        color: $default-text;
      }

      > .icon {
        color: darken($sidebar-icon-file-color, 7%);
      }

      &:hover {
        background-color: $link-hover-bg;

        > .name,
        > .icon {
          color: $link-hover;
        }
      }
    }

    > .folder {
      position: relative;
      padding: 1px 3px;

      > .angle {
        visibility: hidden;
        position: absolute;
        top: 1px;
        color: $default-text;
        left: -9px;
      }

      > .name {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        color: $default-text;
      }

      > .icon {
        float: left;
        margin-right: 7px;
        font-size: 16px;
        color: darken($sidebar-icon-folder-color, 7%);
      }

      &:hover {
        background-color: $link-hover-bg;
      }

      > .icon,
      > .name {
        cursor: pointer;

        &:hover {
          color: $link-hover;
        }
      }
    }
  }

  &:hover {
    li > .folder > .angle {
      visibility: visible;
    }
  }
}