// ------------- general ---------------------------
$top-header-height:               42px;
$tile-height:                     75px;
$tile-min-width:                  280px;
$fm-container-bg:               #fff;
$btn-sort-hover:                rgba(255, 255, 255, 0.16);
$sidebar-box-shadow:              3px 3px 7px -1px #B3B3B3;
$breadcrumb-last-element-color: #898989;
$context-menu-border-right:       1px solid #dedede;
$divider-color:                 #dedede;

// ------------- links -----------------------------
$link-hover:    #328BFF;
$link-hover-bg: #E1E6ED;
$default-text:  #333;

// ------------- header ----------------------------
$header-bg:          #02adea;
$header-border-bottom: 1px solid #BFC5FD;

// ------------- headers ins content ---------------
$sub-header-height:      38px;
$sub-header-bg:          lighten($header-bg, 9%);
$sub-header-text:        #fff;
$sub-header-border-bottom: 2px solid #ddd;

// ------------- sidebar and context menu ----------
$sidebar-bg:      #F1F1F1;
$context-menu-bg: $sidebar-bg;

// ------------- file icon -------------------------
$icon-file-bg:        #8CADFB;
$icon-file-ext-colot: #fff;
$sidebar-icon-file-color: lighten($icon-file-bg, 9%);

// ------------- folder icon ------------------------
$folder-icon-bg: #97C189;
$sidebar-icon-folder-color: $folder-icon-bg;

// ------------- tile container ---------------------
$tile-box-bg:              #fafafa;
$tile-box-bg-hover:        #EDF3FF;
$tile-box-text-color:      $default-text;
$tile-box-text-size-color: #989898;

// ------------- tile border ------------------------
$tile-border:       1px solid darken($tile-box-bg, 7%);
$tile-border-hover: 1px solid darken($tile-box-bg-hover, 10%);

// ------------- table styles -----------------------
$fm-table-tr-odd-bg:        lighten($tile-box-bg, 2%);
$fm-table-tr-even-bg:       $tile-box-bg;

$fm-table-tr-hover:         $tile-box-bg-hover;
$fm-table-text-color:       $default-text;
$fm-table-border-bottom-td: $tile-border;