$all-header-height: 38px;


$link-hover: #328BFF;
$link-hover-bg: #E1E6ED;
$link-default: #333;

$header-bg: #549DFD;
$header-border-bottom: #BFC5FD;

$info-bar-bg: #8CADFB;
$info-bar-text: #fff;

$sidebar-bg: #F1F1F1;
$context-menu-bg: #F1F1F1;

$border-bottom-info-bar: 2px solid #ddd;